.dg-form__field-error {
    margin: 0 0 1em 0;
    padding: 5px 10px;
    background-color: #6B0505;
    font-weight: bold;
    z-index: 1;
    color: #fff;
}

.dg-form__message {
    padding: 0 5px;
    display: none;
}

.dg-form__message_success {
    /*color: #2f8033;*/
}

.dg-form__message_error {
    color: #ff5644;
}